<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <title>Please Log In</title>
</head>
<body>
      <ul class="cb-slideshow" style="list-style-type: none;">
        <li style="list-style-type: none;"><span>Image 01</span></li>
        <li style="list-style-type: none;"><span>Image 02 </span></li>
        <li style="list-style-type: none;"><span>Image 03</span></li>
        <li style="list-style-type: none;"><span>Image 04</span></li>
        <li style="list-style-type: none;"><span>Image 05</span></li>
      </ul>
      <div id="title"><a href= "/intro" style= "text-align:center;"><h1>guide<strong>me</strong></h1></a></div>
      <div id="container">
    <h1>your<strong>schedule</strong></h1>
    <div id="leftcol">
        <h2 style="color: #584744">attractions</h2>
            {% for locations in ad1p1 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in ad1p2 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in ad2p1 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in ad2p2 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in ad3p1 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in ad3p2 %}
                <p>  {{locations}} </p>
            {% endfor %}
          <br>
    </div>
    <div id="rightcol">
        <h2 style="color: #584744">breakfast</h2>
            {% for resturant in rd1b1 %}
                <p>  {{resturant}} </p>
            {% endfor %}
            {% for resturant in rd2b2 %}
                <p>  {{resturant}} </p>
            {% endfor %}
            {% for resturant in rd2b3 %}
                <p>  {{resturant}} </p>
            {% endfor %}
          <br>
        <h2 style="color: #584744">lunch+dinner</h2>
            {% for locations in rd1g1 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in rd1g2 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in rd2g3 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in rd2g4 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in rd3g5 %}
                <p>  {{locations}} </p>
            {% endfor %}
            {% for locations in rd3g6 %}
                <p>  {{locations}} </p>
            {% endfor %}
    </div>
</div>
</div>
    <div class= "float_button"><a href="/intro" class="button"><span>Navigation</span></a><a href="/settings" class="button"><span>Settings</span></a></div>
</body>
</html>
