<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <title>Please Log In</title>
</head>

<body>
      <ul class="cb-slideshow" style="list-style-type: none;">
        <li style="list-style-type: none;"><span>Image 01</span></li>
        <li style="list-style-type: none;"><span>Image 02 </span></li>
        <li style="list-style-type: none;"><span>Image 03</span></li>
        <li style="list-style-type: none;"><span>Image 04</span></li>
        <li style="list-style-type: none;"><span>Image 05</span></li>
      </ul>
    <div class ="searchpage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
      <h2>Here is your schedule</h3>
      <h3>Attractions</h3>
      {% for attraction in attractions %}
      <p>{{attraction}}</p>
      {%endfor%}
      <br>
      <h3>Breakfast Restaurants</h3>
      {% for resturant in resturantsBreakfast %}
      <p>{{resturant}}</p>
      {%endfor%}
      <br>
      <h3>Lunch and Dinner Restaurants</h3>
      {% for resturant in resturantsGeneral %}
      <p>{{resturant}}</p>
      {%endfor%}
    </div>
</body>
</html>

userCal = User.query().filter(User.user == users.get_current_user().email())
userAttract= userCal.get().attractions
userRest= userCal.get().resturants
userDay= userCal.get().dateNum

<!-- this is the page where it displays the calendar. -->
