
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <ul class="cb-slideshow" style="list-style-type: none;">
    	 <li style="list-style-type: none;"><span>Image 01</span></li>
       <li style="list-style-type: none;"><span>Image 02 </span></li>
       <li style="list-style-type: none;"><span>Image 03</span></li>
       <li style="list-style-type: none;"><span>Image 04</span></li>
       <li style="list-style-type: none;"><span>Image 05</span></li>
    </ul>
</head>
<body>
    <div class ="mainpage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
        <h3>What would you like to do?</h3>
        <p>
            <a href="/calendar" class="button"><span>Schedule</span></a>
            <a href="/settings" class="button"><span>Search</span></a>
            <a href={{logout}} class="button"><span>Log Out</span></a>
        </p>
    </div>
    <div class ="about">
      <h1>about CS Gangstaz</h1>
    </div>
</body>
</html>
<!-- this is the page that will redirect/navigate you to where you want to go. -->
