
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
      <ul class="cb-slideshow" style="list-style-type: none;">
      	 <li style="list-style-type: none;"><span>Image 01</span></li>
         <li style="list-style-type: none;"><span>Image 02 </span></li>
         <li style="list-style-type: none;"><span>Image 03</span></li>
         <li style="list-style-type: none;"><span>Image 04</span></li>
         <li style="list-style-type: none;"><span>Image 05</span></li>
      </ul>
      <!-- above is the image slideshow -->
</head>
<body>
  <div class="scroll">Scroll Down!</div>
  <!-- above is a scroll down section that tells user to scroll down. there is no function -->
    <div id ="intropage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
        <p>
            <a href="/calendar" class="button"><span>Schedule</span></a>
            <a href="/settings" class="button"><span>Search</span></a>
            <a href={{logout}} class="button"><span>Log Out</span></a>
        </p>
    </div>
    <!-- below is the information on the app -->
    <div id ="aboutpage">
      <h1 style="display: inline">guide<strong>me </strong></h1><h3 style="display: inline">by CS Gangstaz</h3>
      <p style="color:white">guideme is a fast, comprehensive, and intuitive trip planner that scales to everyone needs. Simply inputting the trip parameters presents a list of the best matched places in the city. Powered by Yelp, guideme removes the hassle of planning trips, allowing every traveller to enjoy their trip the way it was meant to be enjoyed. Log into the future of travelling and explore more of the world. Accessible, convenient, and innovative.</p>
    </div>
    <!-- below is the information on the devloper chris -->
    <div id ="devpage">
    <img src="../static/chrispic.gif" alt="pic of me!" style = "display: inline">
    <h1 style="text-align: center; display: inline;">chris<strong>herczeg </strong></h1>
    <p style="color:white">Hi, my name is Chris Herczeg. I am from Carmel, Indiana just north of Indianapolis. I will be attending THE Ohio State University this fall with a major in computer engineering and premed. While working on guideme I worked mostly on the backend side allowing the user to interact with the Yelp API. Getting the Yelp API to work with this website was a major obstacle I had to overcome due to Yelp's authentication process. Enjoy the site! </p></div>
    <!-- below is the information on the devloper geovani -->
    <div id ="devpage" style="margin-left:456px">
    <img src="../static/geopic.gif" alt="pic of me!" style = "display: inline">
    <h1 style="text-align: center; display: inline;">geovani<strong>castro </strong></h1>
    <p style="color:white">I am Geovani Castro and I am from Lynnwood, WA. Come this Fall I will be attending the University of Washington to seek a degree in Computer Science and Engineering. I had no experience in programming prior to coming to the Google CSSI, which is also when I made this app during project week. I worked mostly on front end, deployment, and facilitating communication between team members.</p></div>
    <!-- below is the information on the devloper sandy -->
    <div id ="devpage" style="margin-left:912px">
    <img src="../static/sandypic.gif" alt="pic of me!" style = "display: inline">
    <h1 style="text-align: center; display: inline;">sandy<strong>tsan </strong></h1>
    <p style="color:white">Hello all! I am the front end of this project. I am incredibly excited to release this into the big vast web and for it to be accessible to all users. I would like to personally thank Google, the CSSI staff, my fellow CSSIers for tolerating and supporting me through my three weeks in Seattle. Shout out to my team members Geovani and Chris for everything they've done to the website! I am incredibly amazed and proud of the work you guys made! #dreamteam</p>
  </div>
    <!-- below is the faq that is an accordion style -->
<div id= "accord">
  <h1 style="text-align: center; display: inline-block;">have<strong>questions?</strong></h1>
  <button class="accordion">What does this app do?</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button class="accordion">Why "CS Gangstaz"?</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<!--
Questions filler here!!!

<button class="accordion">FILLERFILLERFILLER</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->

</div>
    <!-- below is the jquery stuff on the accordion above -->
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
    }
  }
  </script>
</body>
</html>
<!-- this is the page that will redirect/navigate you to where you want to go. -->
