
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <center></center>
  </head>
  <body>
    <div class ="mainpage">
    <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
    <h3> Where do you want to go? </h3>
    <p>
      <a href="" class="button"><span>Calender</span></a>
      <a href="/settings" class="button"><span>Search</span></a>
      <a href={{logout}} class="button"><span>Log Out</span></a></p>
  </div>
  </body>

<!-- done! -->
