<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <center></center>
  </head>
<body>
    <div class ="mainpage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
      <form>
        <input type="text" class="search" placeholder="Search..." required>
        <input type="button" class= "searchButton" value="Search">
      </form>
    <a href={{logout}} class="button"><span>Log Out</span></a></p>
    </div>
</body>

this is the page where you search for the best rated locations.
 -->
