<html>
    <head>
          <link rel="stylesheet" type="text/css" href="../static/tour.css">
        <title>Schedule</title>
    </head>
    <body>
      <div class ="mainpage">
        <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
        <h2>Your Schedule</h2>
        <div align=center>
          <h3>Attractions</h3>
        {% for locations in search_attraction %}
            <p>  {{locations}} </p>
        {% endfor %}
        <br><h3> Restaurants </h3>
        {% for resturant in search_resturant %}
            <p>  {{resturant}} </p>
        {% endfor %}
        </div>
      </div>
    </body>
</html>
