<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/tour.css">
      <title>choose your settings</title>
    </head>
    <body>
        <form method="get" action="schedule">
            <p>City? <input type="text" name="city"/></p>
            <p>State? <input type="text" name="state"/></p>
            <p>Radius? <input type="text" name="radius"/></p>
            <a href="https://www.google.com/accounts/ServiceLogin?service=ah&passive=true&continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttp://guideme-1383.appspot.com/&ltmpl=gm&shdf=ChMLEgZhaG5hbWUaB2d1aWRlbWUMEgJhaCIUyulgYFPuusUYVeOilu_X9ci_SMUoATIUmD3QVl7AmuiEFM2y4RdtSHb8pmI" class="button"><span>Log Out</span></a></p>
            <p><input type="submit"></p>
        </form>
    </body>
</html>
