<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/tour.css">
      <title>Choose your settings</title>
    </head>
    <body>
      <div class ="mainpage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
        <form method="get" action="schedule">
            <p><input type="text" class="search" placeholder="City?" required name=city></p>
            <p><input type="text" class="search" placeholder="State?" required name=state></p>
            <p><input type="text" class="search" placeholder="Radius?" required name=radius></p>
            <p><input type="submit"></p></form>
            <a href={{logout}} class="button"><span>Log Out</span></a>
      </div>
    </body>
</html>
