<html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/tour.css">
      <title>Choose your settings</title>
    </head>
    <body>
      <div class ="mainpage">
      <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
        <form method="get" action="schedule">
            <p>City? <input type="text" name="city"/></p>
            <p>State? <input type="text" name="state"/></p>
            <p>Radius? <input type="text" name="radius"/></p>
            <a href={{logout}} class="button"><span>Log Out</span></a>
            <p><input type="submit"></p>
        </form>
      </div>
    </body>
</html>
