<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <title>Please Log In</title>
</head>

<body>
    <ul class="cb-slideshow" style="list-style-type: none;">
        <li style="list-style-type: none;"><span>Image 01</span></li>
        <li style="list-style-type: none;"><span>Image 02</span></li>
        <li style="list-style-type: none;"><span>Image 03</span></li>
        <li style="list-style-type: none;"><span>Image 04</span></li>
        <li style="list-style-type: none;"><span>Image 05</span></li>
    </ul>
    <div class ="mainpage">
    <a href= "/intro"><h1>guide<strong>me</strong></h1></a>
    <p>Where to?</p>
    <p><a href={{login}} class="button"><span>Log-In</span></a></p>
    </div>
</body>
</html>

<!-- this is the page where it asks you to log in. -->
