<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/tour.css">
    <title>Please Log In</title>
  </head>

    <body>
    <div class ="mainpage">
      <h1>guide<strong>me</strong></h1>
      <p>Where to?</p>
      <p><a href="/settings" class="Search_Button">Search</a></p>
      <p><a href="https://www.google.com/accounts/ServiceLogin?service=ah&passive=true&continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttp://guideme-1383.appspot.com/&ltmpl=gm&shdf=ChMLEgZhaG5hbWUaB2d1aWRlbWUMEgJhaCIUyulgYFPuusUYVeOilu_X9ci_SMUoATIUmD3QVl7AmuiEFM2y4RdtSHb8pmI" class="button"><span>Log-In</span></a></p>
    </div>
  </body>
</html>
