body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #584744;
}

h1 {
    color: #FFF;
}

h1 strong {
    color: #f4511e;
}

/*general css*/
.mainpage{
    padding-top: 220px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    align-content: center;
    z-index: 1;
    position: relative;
}

/*button editing*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*search bars*/
form {
  width: 500px;
  margin:50px auto;
}

.search {
  width: 300px;
  height: 30px;
  padding: 8px 15px;
  background:rgba(50, 50, 50, 0.5);
  border: 0px solid #000;
  font-size: 15px;
}

/*link coloring*/
a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover{
  color:white;
  text-decoration: underline;
}

/*background slideshow*/
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -16px;
    left: -1px;
    z-index: 0;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}
.cb-slideshow:after {
    content: '';
    background: url("grey.jpg");
    background-size: cover;
    top: -1px;
    z-index: -1;
}
.cb-slideshow li:nth-child(1) span {
    background-image: url("loginBG.jpg");
}
.cb-slideshow li:nth-child(2) span {
    background-image: url("background1.jpg");
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url("background2.jpg");
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url("background3.jpg");
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url("background4.jpg");
    animation-delay: 24s;
}
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}





 /*

 COLOR PALETTE

      brown color: #584744
      "guide" big heading font color: #FFF
      "me" tiny heading font color: #f4511e

 */
 body {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     color: #584744;
 }

 h1 {
     color: #FFF;
 }

 h1 strong {
     color: #f4511e;
 }

 /*general css*/
 .mainpage{
     padding-top: 220px;
     padding-left: 300px;
     padding-right: 300px;
     text-align: center;
     align-content: center;
     z-index: 1;
     position: relative;
 }

 /*button editing*/
 .button {
   display: inline-block;
   border-radius: 4px;
   background-color: #f4511e;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 16px;
   padding: 10px;
   width: auto;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
 }

 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }

 .button span:after {
   content: '>>';
   position: absolute;
   opacity: 0;
   top: 0;
   transition: 0.5s;
 }

 .button:hover span {
   padding-right: 25px;
 }

 .button:hover span:after {
   opacity: 1;
   right: 0;
 }

 /*search bars*/
 form {
   width: 500px;
   margin:50px auto;
 }

 .search {
   width: 300px;
   height: 30px;
   padding: 8px 15px;
   background:rgba(50, 50, 50, 0.5);
   border: 0px solid #000;
   font-size: 15px;
 }

 /*link coloring*/
 a:link, a:visited, a:active {
     text-decoration: none;
 }

 a:hover{
   color:white;
   text-decoration: underline;
 }

 /*background slideshow*/
 .cb-slideshow,
 .cb-slideshow:after {
     position: fixed;
     width: 100%;
     height: 100%;
     top: -16px;
     left: -1px;
     z-index: 0;
 }
 .cb-slideshow li span {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     color: transparent;
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 0;
     z-index: 0;
     animation: imageAnimation 30s linear infinite 0s;
 }
 .cb-slideshow:after {
     content: '';
     background: url("grey.jpg");
     background-size: cover;
     top: -1px;
     z-index: -1;
 }
 .cb-slideshow li:nth-child(1) span {
     background-image: url("loginBG.jpg");
 }
 .cb-slideshow li:nth-child(2) span {
     background-image: url("background1.jpg");
     animation-delay: 6s;
 }
 .cb-slideshow li:nth-child(3) span {
     background-image: url("background2.jpg");
     animation-delay: 12s;
 }
 .cb-slideshow li:nth-child(4) span {
     background-image: url("background3.jpg");
     animation-delay: 18s;
 }
 .cb-slideshow li:nth-child(5) span {
     background-image: url("background4.jpg");
     animation-delay: 24s;
 }
 @keyframes imageAnimation {
     0% { opacity: 0; animation-timing-function: ease-in; }
     8% { opacity: 1; animation-timing-function: ease-out; }
     17% { opacity: 1 }
     25% { opacity: 0 }
     100% { opacity: 0 }
 }





  /*

  COLOR PALETTE

       brown color: #584744
       "guide" big heading font color: #FFF
       "me" tiny heading font color: #f4511e

  */
