
body {
    background-image: url("loginBG.jpg");
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #584744;
    background-repeat: no-repeat;
}

h1 {
    color: #FFF;
}

h1 strong {
    color: #f4511e;
}

.mainpage{
    padding-top: 220px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    align-content: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

form {
  width:500px;
  margin:50px auto;
}

.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.searchButton {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.searchButton:hover  {
  background-color:#fafafa;
  color:#207cca;
}
 /*
 COLOR PALETTE
      brown color: #584744
      "guide" big heading font color: #FFF
      "me" tiny heading font color: #f4511e
 */
