body {
    background-image: url("loginBG.jpg");
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #584744;
}

h1{ /*big heading*/
  color: #7E8986;
}

h1 strong{ /*big heading, strong*/
  color: #EE925B;
}

h3{ /*tiny heading*/
  color: #EE925B;
}

/*.mainpage{
    padding-top: 130px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    align-content: center;
}*/

 /*

 COLOR PALETTE

      copy color: #584744
      "guide" big heading font color: #7E8986
      "me" tiny heading font color: #EE925B


 http://www.colourlovers.com/palette/1613156/G_l_a_d_e

 */
